body {

}
#homeView {
	text-align: center;
}

#homeView .ui-controlgroup {
	width: 70%;
	margin: 20px auto;
	max-width: 500px;
}

#homeView img{
	width: 80%;
	max-width: 600px;
}

#acc, #loc{
	border: 2px solid #A1A1A1;
	padding: 10px 10px;
	margin: 10px 10px;
	min-height: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px; /*Firefox 3.6 & earlier*/
}

#infowrite{
	border: 2px solid #A1A1A1;
	padding: 10px 10px;
	min-height: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px; /*Firefox 3.6 & earlier*/
}

a:hover {
    color: #FF00FF;
}

html, body, #mapView, #mapContent, #mapDiv, #mapCanvas85, #mapCanvas10, #mapcanvas11, #mapCanvas12, #mapCanvas, #maps85, #maps11, #maps12, #maps10, #maps, #mapsContent{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#info h2 {
	text: center;
}
#wildfireyears {
	width: 100%;
	font-size: .75em;
}

#videoList h3 {
	margin: 1em 0.1em 0.5em 0.1em;
	height: 2.5em;
	font-size: 1em;
	overflow: hidden;
}

#videoList img {
	width: 95%;
}

#videoList a {
	text-decoration: none;
	color: #777;
}

#videoPlayer .ui-content{
	margin: 0;
	padding: 0;
}

#myPlayer iframe {
	width: 100%;
	min-height: 50%;
}

#myPlayer h3, #videoPlayer p {
	padding: 1%;
	margin: 1%;
}

ã€€
#photoList.ui-grid-c {
	width: 93%;
	padding: 0;
	margin: 0 auto;
}

#photoList .ui-block-a, #photoList .ui-block-b, #photoList .ui-block-c {
	width: 30%;
	height: same-as-width;
	padding: 0.5%;
}

#photoList img {
	width: 100%;
	-webkit-border-radius: 0.7em;
	-moz-border-radius: 0.7em;
	border-radius: 0.7em;
}

#showPhoto {
	background: black;
}

#showPhoto img{
	width: 100%;
	max-width: 1024px;
}

#showPhoto .ui-content {
	width: 100%;
	padding: 0;
}
.ui-icon-wvc_video {
	background-image: url("../images/icon_video.png");
	}
.ui-icon-wvc_photo {
	background-image: url("../images/icon_photo.png");
	}
.ui-icon-wvc_blog {
	background-image: url("../images/icon_blog.png");
		

@media only screen and (-webkit-min-device-pixel-ratio:2){
	.ui-icon-wvc_video {
		background-image: url("../images/icon_video_hr.png");
		background-size:18px 18px;
	}
	.ui-icon-wvc_photo {
		background-image: url("../images/icon_photo_hr.png");
		background-size:18px 18px;
	}
	.ui-icon-wvc_blog {
		background-image: url("../images/icon_blog_hr.png");
		background-size:18px 18px;
	}
}
