

#header h1{
	font: 46px Georgia; 
	letter-spacing: 2px;
	color:white; /*rgb(255,51,0);*/
}

#header p{
	font: 10px Georgia; 
	letter-spacing: 2px;
	float: bottom;
	padding-top: 50px;
	color: white;
}

#content ul{
	font-size: 16px;
}

#content h1{
	font: 26px Georgia, serif; 
	letter-spacing: 2px;
	margin: 0 0 20px 0;
	padding-left: 10px;
	padding-top: 10px;
}

#content h2{
	font: 26px Georgia, serif;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 20px 0;
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
#content h3{
	font: 32px Georgia, serif;
	letter-spacing: 2px;
	margin: 0 0 20px 0;
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}

#content h4{
	font: 24px Georgia, serif; 
	letter-spacing: 2px;
	margin: 0 0 20px 0;
	text-align: center;
	padding-left: 10px;
	padding-top: 10px;
}

#content p, dl{
	font: 14px Georgia, serif; 
	letter-spacing: 1px;
	margin: 0 0 20px 0;
	padding-left: 10px;
	overflow: hidden;
}




#Map {
	height: 400px;
	width: 500px;
	Float: right;
	border-width: 2px;
	  border-style: solid;
	  border-color: black;
  }

#content img, iframe{
	display: block;
    margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	  border-style: solid;
	  border-color: black;
}
